configuration {
    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
    font:	    "JetBrainsMonoNerdFont 14";
}

@theme "~/.config/rofi/gruvbox-material.rasi"
